.home-container {
  width: 85%;
  margin: auto;
  padding: 30px 10px 0;
}
.home-blogs-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 25px;
}

@media (max-width: 1280px) {
  .home-blogs-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  /* .home-blogs-box {
    gap: 10px;
    row-gap: 25px;
  } */
}
@media (max-width: 936px) {
  .home-blogs-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    row-gap: 25px;
  }
}
@media (max-width: 786px) {
  .home-container {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .home-container {
    width: 100%;
  }
  .home-blogs-box {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    row-gap: 25px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 30px 0;
}

.pagination button {
  padding: 6px 14px;
  color: var(--dark);
  background: var(--bg);
  border: 1px solid var(--dark);
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.pagination button:hover {
  background: var(--light);
}

.active-page {
  color: var(--bg) !important;
  background: var(--dark) !important;
  /* border-color: v; */
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
