/* comment */
.comments-section {
  margin: 2rem 0;
}

.add-comment-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.add-comment-box textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid var(--mid-dark);
  color: var(--dark);
  background: var(--light);
  border-radius: 8px;
  transition: all 0.3s ease;
}
.add-comment-box textarea:focus {
  background: var(--bg);
  border: 1px solid var(--dark);
}
.add-comment-box .inputBtn {
  background: var(--light);
}
.add-comment-box .inputBtn:hover {
  color: var(--bg);
  background: var(--dark);
}

.comment-card {
  padding: 12px;
  color: var(--dark);
  border: 1px solid var(--mid-dark);
  box-shadow: var(--shadow);
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.comment-card p {
  width: 100%;
  padding: 5px 10px;
  overflow-wrap: break-word;
}
.edit-comment textarea {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--light);
  outline: none;
}
.comment-actions {
  margin-top: 10px;
  gap: 15px;
}

.comment-actions button {
  padding: 4px 15px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--bg);
  background: var(--dark);
}
