.back-btn {
  padding: 7px 16px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  /* margin-bottom: 20px; */
  font-weight: 500;
  background-color: var(--primary);
  color: var(--secondary);
  transition: all 0.3s ease;
}
.back-btn:hover {
  color: var(--primary);
  background: var(--secondary);
}
