.searchbox-container {
  width: 200px;
  justify-content: space-between;
  /* gap: 10px; */
  font: 0.9em sans-serif;
  padding: 8px 15px;
  border-radius: 30px;
  border: 1.5px solid var(--primary);
  background-color: var(--secondary);
}
.searchbox-input {
  width: 150px;
  flex: 1;
  border-radius: 4px;
  outline: none;
}
.nav-icone {
  font-size: 1.1rem;
  /* color: var(--s); */
}
@media (max-width: 786px) {
  .searchbox-container {
    padding: 6px 10px;
  }
}
/* @media (max-width: 650px) {
  .searchbox-container {
    padding: 6px 10px;
    width: 200px;
  }
  .searchbox-input {
    font-size: 0.85rem;
    width: 150px;
  }
} */
@media (max-width: 485px) {
  .searchbox-container {
    width: 130px;
  }
  .searchbox-input {
    width: 90px;
  }
}
