@import "tailwindcss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* --secondary: #4b5694;
  --primary: #111844;
  --bg: #eae0cf;
  --third: #e5e4e7; */

  /* --primary: #810b38;
  --secondary: #f1e2d1;
  --bg: #dcc3aa;
  --text: #541a1a; */

  --primary: #213448;
  --secondary: #547792;
  /* --bg: #f7f6e5; */
  --bg: #eae0cf;
  --text: #94b4c1;

  --dark: #213448;
  --mid-dark: #547792;
  --light: #94b4c1;

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  } */

  /* #social .button-icon {
    filter: invert(1) brightness(2);
  } */
}

body {
  margin: 0;
}

#root {
  /* width: 1126px; */
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.flex {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.1rem;
}
p,
input,
textarea,
label,
button {
  font-size: 1rem !important;
}
.inputBtn {
  width: 100%;
  min-width: fit-content;
  padding: 7px 20px;
  border: 1px solid var(--dark);
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  color: var(--dark);
  background: var(--bg);
  transition: all 0.2s ease-in;
  border: 1px solid var(--dark);
}
.inputBtn:hover {
  color: var(--bg);
  background: var(--dark);
}
.inputBtnActive {
  /* flex: 1; */
  color: var(--bg);
  background: var(--dark);
}
