.add-blog-container {
  width: 80%;
  margin: 30px auto;
}
.add-blog-form {
  flex-direction: column;
}
.add-blog-container .input-field-group, .form-group {
  display: grid !important;
  grid-template-columns: 1fr 4fr;
  gap: 20px !important;

  row-gap: 10px !important;
  /* margin-bottom: 20px; */
  transition: all 0.3s ease;
}

.form-group .input-field-group{
    grid-column: 1 / -1;
}
.form-group > small {
  grid-column: 1 / -1;
}
.sub-form-group {
  display: grid;
  gap: 20px;
  /* height: 200px; */
  grid-template-columns: 1fr 1fr;
}
/* .add-blog-form .form-group input,
.add-blog-form .form-group textarea {
  width: 100%;
  font-size: 1rem !important;
  height: fit-content !important;
  background-color: var(--bg);
} */
.add-blog-form .form-group select {
  outline: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: var(--dark);
  border: 1px solid var(--mid-dark);
  background-color: var(--bg);
}
/* Show placeholder in mid-dark */
.add-blog-form .form-group select:invalid {
  color: var(--mid-dark);
}

/* Or if using React with value="" */
.add-blog-form .form-group select option[value=""] {
  color: var(--mid-dark);
}
.add-blog-form .form-group select option {
  background: var(--bg);
  color: var(--dark);
}

.add-blog-form .form-group select option:checked {
  background: var(--dark);
  color: var(--bg);
}

.add-blog-form .sub-form-group input {
  cursor: pointer;
  /* width: fit-content; */
  height: fit-content;
}
.image-preview {
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}
.addblog-btn {
  margin-top: 20px;
  width: 100%;
  padding: 7px 16px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark);
  border: 2px solid var(--dark);
  transition: all 0.3s ease;
}
.addblog-btn:hover {
  cursor: pointer;
  color: var(--bg);
  background: var(--dark);
} 

 .blog-container .back-btn{
  display: none;
}
@media (max-width: 1024px) {
  .add-blog-container {
  }
}
@media (max-width: 786px) {
  .add-blog-container {
    width: 90%;
  }
  .add-blog-container .input-field-group,.form-group {
    display: grid;
    grid-template-columns: 1fr;
  }
  .image-preview {
    width: 150px;
    height: 150px;
  }
  .sub-form-group {
    grid-template-columns: 1fr;
  }
  .add-blog-container h1 .back-btn{
  display: none;
}
 .blog-container .back-btn{
  display: block;
  position: relative;
  margin: 0 auto;
}
}

/* @media (max-width: 550px) {
} */
