.card {
  width: 100%;
  gap: 10px;
  border-radius: 5px;
  background-color: var(--bg);
  overflow: hidden;
  border-bottom: 3.5px solid transparent;
  box-shadow: var(--shadow);
  transition:
    all 0.3s ease,
    border 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  cursor: pointer;
  /* background: var(--light); */
  border-bottom: 3.5px solid var(--dark);
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 15px 25px -5px,
    rgba(0, 0, 0, 0.1) 0 5px 10px -5px;
}

.card-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.card-info {
  flex: 1;
  flex-direction: column;
  gap: 5px;
  padding: 5px 9px 5px 5px;
  color: var(--dark);
}
.card h3 {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  gap: 5px;
  text-decoration: underline;
  justify-content: space-between;
  transition: all 0.2s ease;
}
.card-info h3 .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-icone {
  font-size: 0.8rem !important;
  width: 17px;
  height: 17px;
  padding: 5px;
  border-radius: 50%;
  color: var(--primary);
  border: 2px solid var(--dark);
  background-color: var(--bg);
  transition: all 0.2s ease;
}
.card:hover .card-icone {
  /* border: 2px solid var(--secondary); */
  color: var(--bg);
  background-color: var(--dark);
}
.card-description {
  width: 100%;
  padding: 0 10px 0 0;
  gap: 6px;
}

.description-content {
  font-size: 0.8rem !important;
  text-align: left;
  line-height: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 786px) {
  .card-img img {
    width: 80px !important;
    height: 80px !important;
  }
}
@media (max-width: 600px) {
  .card-img img {
    width: 60 px !important;
    height: 60 px !important;
  }
}
@media (max-width: 500px) {
  .card-img img {
    width: 60px !important;
    height: 60px !important;
  }
}
