.blog-container {
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
}

.blog-title {
  font-size: 2rem;
  color: var(--primary);
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 20px;
}
.blog-title-details {
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: flex-start !important;
}
.blog-image {
  /* width: 250px; */
  /* width: 100%; */
  width: fit-content;
  height: 250px;
  margin: auto;
  object-fit: cover;
}
.blog-details {
  width: 100%;
  height: fit-content;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 15px;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: 700;
}
.blog-details-box {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 15px;
  flex-wrap: wrap;
}
.blog-auther {
  /* display: block !important; */
}
.blog-detail-item {
  width: 100%;
  text-align: left;
}
.blog-icone {
  font-size: 1.2rem;
}

.blog-content {
  width: 100%;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: justify;
  margin-bottom: 20px;
}
.blog-content p,
.blog-content h1,
.blog-content h2,
.blog-content h3 {
  margin: 0.5rem 0;
}
@media (max-width: 1024px) {
  .blog-container {
  }

  .blog-title {
    font-size: 1.5rem;
  }
  .blog-image {
    /* width: 230px; */
    height: 230px;
  }
}
@media (max-width: 786px) {
  .blog-container {
    width: 90%;
  }
  .blog-title-details {
    gap: 10px;
  }
  .blog-title {
    font-size: 1.5rem;
  }
  .blog-image {
    /* width: 160px; */
    height: 160px;
  }
}
@media (max-width: 518px) {
  .blog-title-details {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .blog-details-box {
    width: 100%;
    flex-direction: row;
  }
  .blog-auther {
    display: block;
    width: 100% !important;
    flex: 1;
  }

  .blog-detail-item {
    flex: 1;
    /* width: fit-content; */
  }
}
