.avatar-container {
  position: relative;
  width: 120px;
  margin: auto;
}
.profile-image {
  position: relative;
  display: block;
  cursor: pointer;
}
.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--dark);
  transition: 0.3s;
}
.profile-avatar-empty {
  justify-content: center;
  color: var(--bg);
  background: var(--dark);
  font-size: 2.6rem;
  font-weight: 700;
}
.profile-image:hover .profile-avatar {
  transform: scale(1.03);
}
.camera-btn {
  position: absolute;
  right: 2px;
  bottom: 6px;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: var(--dark);
  border: 2px solid var(--dark);
  background: var(--bg);
}

@media (min-width: 640px) {
  .avatar-container {
    width: 150px;
  }
  .profile-avatar {
    width: 150px;
    height: 150px;
  }
  .camera-btn {
    right: 5px;
    bottom: 10px;
  }
}
