.edit-profile-card {
  width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 3px solid var(--text);
  background-color: var(--secondary);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.edit-profile-card form {
  width: 100%;
  flex-direction: column;
  gap: 7px;
}

.avatar-container {
  position: relative;
  width: 150px;
  margin: auto;
}
.profile-image {
  position: relative;
}
.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid var(--text);
  transition: 0.3s;
}

.profile-avatar:hover {
  transform: scale(1.03);
}
.camera-btn {
  position: absolute;
  right: 5px;
  bottom: 10px;
  padding: 8px;
  border-radius: 30px;
  border: 2px solid var(--text);
  background: var(--secondary);
}
@media (max-width: 786px) {
  .edit-profile-card {
    width: 480px;
    padding: 20px 10px;
  }
  .save-btn {
    padding: 10px;
  }
}
@media (max-width: 550px) {
  .edit-profile-card {
    padding: 10px;
    width: 330px;
  }
}
